body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	width: 100%;
	font-family: Raleway, sans-serif;
	font-weight: normal;
	color: #333;
/*  background: #eee;*/
}

img {
	max-width: 100%;
	max-height: 100%;
}

#overflow-scroll {
  overflow:scroll;
  height:300px;
  background:#aaa;
}

#context-example {
  background:#555;
  color:#fff;
  height:600px;
  margin-top:150px;
}


.error-style {
  color: #aa0000;
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
  margin-left: 8px;
  opacity: 0;
  transform: translateY(-30px);
  animation: erorrAnimation 0.5s ease-out 0s forwards;
}

@keyframes erorrAnimation {
  0%{
    opacity: 0;
    transform: translateY(-30px);
  }
  50%{
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar .navbar-nav > li.dropdown > .dropdown-menu a:active,
.navbar .navbar-nav > li.dropdown > .dropdown-menu a.active {
	background-color: #343a40 !important;
}

.form-group-show-PWD {
	position: relative;
}

.showPWDIcon {
	position: absolute;
  right: 10px;
  top: 40px;
  cursor: pointer;
}

#tooltip1 {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  display: none;
}







.profile_pic_div {
  height: 150px;
  width: 150px;
  position: relative;
  border-radius: 100%;
  margin: 20px auto;
  overflow: hidden;
}

.profile_pic_div:hover .label_profile {
  transform: translateY(0);
}

.profile_pic_div .label_profile {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  height: 60px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  font-weight: 100;
  transform: translateY(60px);
  transition: 0.4s all cubic-bezier(0.7, 1, 0.7, 1);
}





.preview {
  overflow: hidden;
  width: 160px; 
  height: 160px;
  margin: 16px auto;
  margin-bottom: 0;
  border: 1px solid red;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.for_footer {
  height: 100vh;
  margin-bottom: -40px;
  overflow-y: hidden;
  margin-top: -56px;
}

.singin-last-div {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

@media (max-width: 576px) {
  .singin-last-div {
    display: block;
  }
}